<p id="notice"><%= notice %></p>

<h1>Listing Presences</h1>

<table>
  <thead>
    <tr>
      <th>In class</th>
      <th>Out class</th>
      <th>Boitier</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @presences.each do |presence| %>
      <tr>
        <td><%= presence.in_class %></td>
        <td><%= presence.out_class %></td>
        <td><%= presence.boitier %></td>
        <td><%= link_to 'Show', presence %></td>
        <td><%= link_to 'Edit', edit_presence_path(presence) %></td>
        <td><%= link_to 'Destroy', presence, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Presence', new_presence_path %>
