<p id="notice"><%= notice %></p>

<p>
  <strong>In class:</strong>
  <%= @presence.in_class %>
</p>

<p>
  <strong>Out class:</strong>
  <%= @presence.out_class %>
</p>

<p>
  <strong>Boitier:</strong>
  <%= @presence.boitier %>
</p>

<p>
  <strong>Professor:</strong>
  <%= Professor.where(id: @presence.professor_id) %>
</p>

<p>
  <strong>Student:</strong>
  <%= @student = Student.where(id: @presence.student_id) %>
</p>

<%= link_to 'Edit', edit_presence_path(@presence) %> |
<%= link_to 'Back', presences_path %>
