<p id="notice"><%= notice %></p>

<h1>Listing Seances</h1>

<table>
  <thead>
    <tr>
      <th>Start time</th>
      <th>End time</th>
      <th>Actual date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @seances.each do |seance| %>
      <tr>
        <td><%= seance.start_time %></td>
        <td><%= seance.end_time %></td>
        <td><%= seance.actual_date %></td>
        <td><%= link_to 'Show', seance %></td>
        <td><%= link_to 'Edit', edit_seance_path(seance) %></td>
        <td><%= link_to 'Destroy', seance, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Seance', new_seance_path %>
