<p id="notice"><%= notice %></p>

<p>
  <strong>Start time:</strong>
  <%= @seance.start_time %>
</p>

<p>
  <strong>End time:</strong>
  <%= @seance.end_time %>
</p>

<p>
  <strong>Actual date:</strong>
  <%= @seance.actual_date %>
</p>

<p>
  <strong>Schedule:</strong>
  <%= @seance.schedule_id %>
</p>

<%= link_to 'Edit', edit_seance_path(@seance) %> |
<%= link_to 'Back', seances_path %>
