<p id="notice"><%= notice %></p>

<p>
  <strong>Start time:</strong>
  <%= @meeting.start_time %>
</p>

<p>
  <strong>End time:</strong>
  <%= @meeting.end_time %>
</p>

<p>
  <strong>Actual date:</strong>
  <%= @meeting.actual_date %>
</p>
<p>
  <strong>Schedule:</strong>
  <%= @meeting.schedule_id %>
</p>

<%= link_to 'Edit', edit_meeting_path(@meeting) %> |
<%= link_to 'Back', meetings_path %>
