<%= form_for(@classroom) do |f| %>
  <% if @classroom.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@classroom.errors.count, "error") %> prohibited this classroom from being saved:</h2>

      <ul>
      <% @classroom.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :class_room_nbre %><br>
    <%= f.text_field :class_room_nbre %>
  </div>
  <div class="field">
    <%= f.label :class_room_name %><br>
    <%= f.text_field :class_room_name %>
  </div>
  <div class="field">
    <%= f.label :meeting_id %><br>
    <%= f.text_field :meeting_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
