<p id="notice"><%= notice %></p>

<p>
  <strong>Class room nbre:</strong>
  <%= @classroom.class_room_nbre %>
</p>

<p>
  <strong>Class room name:</strong>
  <%= @classroom.class_room_name %>
</p>
<p>
  <strong>Meeting for this classroom</strong>
  <%= @classroom.meeting_id %>
</p>

<%= link_to 'Edit', edit_classroom_path(@classroom) %> |
<%= link_to 'Back', classrooms_path %>
