<p id="notice"><%= notice %></p>

<p>
  <strong>Student special info:</strong>
  <%= @student.student_special_info %>
</p>

<p>
  <strong>User:</strong>
  <%= @student.user %>
</p>

<p>
  <strong>Classe id:</strong>
  <%= @student.classe_id %>
</p>

<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
