<%= form_for(@module_subject) do |f| %>
  <% if @module_subject.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@module_subject.errors.count, "error") %> prohibited this module_subject from being saved:</h2>

      <ul>
      <% @module_subject.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :module_name %><br>
    <%= f.text_field :module_name %>
  </div>
  <div class="field">
    <%= f.label :module_coefficient %><br>
    <%= f.text_field :module_coefficient %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
