<p id="notice"><%= notice %></p>

<h1>Listing Module Subjects</h1>

<table>
  <thead>
    <tr>
      <th>Module name</th>
      <th>Module coefficient</th>
      <th>List of subjects</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @module_subjects.each do |module_subject| %>
      <tr>
        <td><%= module_subject.module_name %></td>
        <td><%= module_subject.module_coefficient %></td>
        <td>
        <% @subjects = Subject.where(module_subject_id: module_subject) %>
          <%  @subjects.each do |s| %>
          <%= s.subject_name %>
        <% end %>
        </td>
        <td><%= link_to 'Show', module_subject %></td>
        <td><%= link_to 'Edit', edit_module_subject_path(module_subject) %></td>
        <td><%= link_to 'Destroy', module_subject, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Module subject', new_module_subject_path %>
