<p id="notice"><%= notice %></p>

<p>
  <strong>Module name:</strong>
  <%= @module_subject.module_name %>
</p>

<p>
  <strong>Module coefficient:</strong>
  <%= @module_subject.module_coefficient %>
</p>

<%= link_to 'Edit', edit_module_subject_path(@module_subject) %> |
<%= link_to 'Back', module_subjects_path %>
