<%= form_for(@schedule) do |f| %>
  <% if @schedule.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@schedule.errors.count, "error") %> prohibited this schedule from being saved:</h2>

      <ul>
      <% @schedule.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :schedule_name %><br>
    <%= f.text_field :schedule_name %>
  </div>
  <div class="field">
    <%= f.label :schedule_year %><br>
    <%= f.datetime_select :schedule_year %>
  </div>
  <div class="field">
    <%= f.label :classe_id %><br>
    <%= f.text_field :classe_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
