<p id="notice"><%= notice %></p>

<p>
  <strong>Schedule name:</strong>
  <%= @schedule.schedule_name %>
</p>

<p>
  <strong>Schedule year:</strong>
  <%= @schedule.schedule_year %>
</p>

<p>
  <strong>Schedule seances:</strong>
  <% @seances = Seance.where(id: @schedule.id) %>
  <%= @seances.count %>
  <% if @seances.count > 0 %>
	  
	  	<%= @seances %>
	  
  <% end %>
</p>


<p>
  <strong>Class id</strong>
  <%= @schedule.classe_id %>
</p>

<%= link_to 'Edit', edit_schedule_path(@schedule) %> |
<%= link_to 'Back', schedules_path %>
