<%= form_for(@classe) do |f| %>
  <% if @classe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@class.errors.count, "error") %> prohibited this class from being saved:</h2>

      <ul>
      <% @class.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :class_name %><br>
    <%= f.text_field :class_name %>
  </div>
  <div class="field">
    <%= f.label :class_capacity %><br>
    <%= f.number_field :class_capacity %>
  </div>
  <div class="field">
    <%= f.label :class_specific_id %><br>
    <%= f.text_field :class_specific_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
