<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Timber</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="css/plugin.css">
    <link rel='stylesheet' id='camera-css'  href='css/camera.css' type='text/css' media='all'>

    <link rel="stylesheet" type="text/css" href="css/slicknav.css">
    <link rel="stylesheet" href="css/prettyPhoto.css" type="text/css" media="screen" title="prettyPhoto main stylesheet" charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="css/style.css">


    

    <script>
      jQuery(function(){
          jQuery('#camera_wrap_1').camera({
          transPeriod: 500,
          time: 3000,
          height: '490px',
          thumbnails: false,
          pagination: true,
          playPause: false,
          loader: false,
          navigation: false,
          hover: false
        });
      });
    </script>
    
  </head>
  <body>
    
   
    
    <div id="about">
      <div class="line2">

    </div>
    <div class="">
      <div class="row">
        <div class="col-md-12 wwa">
          <span name="about" ></span>
          <h3>Suivi des classes en temps réel !</h3>
          <h4>Vous pouvez consulter les classes, les professeurs et les étuiants présents en un seul clic en temps réel !!</h4>
        </div>
      </div>
    </div>
    <div class="">
      <div class="row team">
        <div class="col-md-4 b1">
            <h4>Classe A2</h4> <br>
            <div class="my-progress-bar"></div>
            <div class="progress" style=" height: 30px;">
              <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40"
              aria-valuemin="0" aria-valuemax="100" style="width:60%  ; font-size: 150%;">
                60% de temps écoulé
              </div>
            </div>
            <h4>Dr Kamel Ben Rhouma</h4>
            <h5>Professeur de C++</h5>
            <p>Matière: C++ <br/>
            <p>Séance démarrée à : 08h35 <br/>
            <p>Présence des étudiants : 78% <br/>
            </p>
            <ul>
              <li><a href="detail_class.html"><button class="btn btn-default">Détails</button></a></li>
            </ul>
        </div>
      
      
        <div class="col-md-4 b1">
            <h4>Classe B5</h4> <br>
            <div class="my-progress-bar1"></div>
            <div class="progress" style=" height: 30px;">
              <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40"
              aria-valuemin="0" aria-valuemax="100" style="width:89%  ; font-size: 150%;">
                89% de temps écoulé
              </div>
            </div>
            <h4>Dr Majdi Jribi</h4>
            <h5>Docteur réseau</h5>
            <p>Matière: Réseau 1 <br/>
            <p>Séance démarrée à : 08h47 <br/>
            <p>Présence des étudiants : 56% <br/>
            </p>
            <ul>
              <li><a href="detail_class.html"><button class="btn btn-default">Détails</button></a></li>
            </ul>
        </div>

        <div class="col-md-4 b1">
            <h4>Classe A4</h4> <br>
            <div class="my-progress-bar2"></div>
            <div class="progress" style=" height: 30px;">
              <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40"
              aria-valuemin="0" aria-valuemax="100" style="width:55%  ; font-size: 150%;">
                55% de temps écoulé
              </div>
            </div>
            <h4>Dr Ibtihel Fliss</h4>
            <h5>Enseignante Web</h5>
            <p>Matière: Développement web <br/>
            <p>Séance démarrée à : 08h42 <br/>
            <p>Présence des étudiants : 93% <br/>
            </p>
            <ul>
              <li><a href="detail_class.html"><button class="btn btn-default">Détails</button></a></li>
            </ul>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-md-12 hr1">
              <hr/>
            </div>
          </div>
        </div>

        <div class="col-md-4 b1">
            <h4>Classe SI</h4> <br>
            <div class="my-progress-bar3"></div>
            <div class="progress" style=" height: 30px;">
              <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40"
              aria-valuemin="0" aria-valuemax="100" style="width:30% ; font-size: 150%;">
                42% de temps écoulé
              </div>
            </div>

            <h4>Dr Imed Abdessalem</h4>
            <h5>Enseignante embarqué</h5>
            <p>Matière: Développement embarqué <br/>
            <p>Séance démarrée à : 08h58 <br/>
            <ul>
              <li><a href="detail_class.html"><button class="btn btn-default">Détails</button></a></li>
            </ul>
        </div>

        <div class="col-md-4 b1">
            <h4>Classe A4</h4> <br>
            <div class="my-progress-bar4"></div>
            <div class="progress" style=" height: 30px;">
              <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40"
              aria-valuemin="0" aria-valuemax="100" style="width:30% ; font-size: 150%;">
                42% de temps écoulé
              </div>
            </div>
            <h4>Dr Ibtihel Fliss</h4>
            <h5>Enseignante C</h5>
            <p>Matière: Développement C <br/>
            <p>Séance démarrée à : 08h42 <br/>
            </p>
            <ul>
              <li><a href="detail_class.html"><button class="btn btn-default">Détails</button></a></li>
            </ul>
        </div>

        <div class="col-md-4 b1">
            <h4>Classe SI</h4> <br>
            <div class="my-progress-bar5"></div>
            <div class="progress" style=" height: 30px;">
              <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40"
              aria-valuemin="0" aria-valuemax="100" style="width:52% ; font-size: 150%;">
                52% de temps écoulé
              </div>
            </div>

            <h4>Dr Imed Abdessalem</h4>
            <h5>Enseignante embarqué</h5>
            <p>Matière: Développement embarqué <br/>
            <p>Séance démarrée à : 08h58 <br/>
            <ul>
              <li><a href="detail_class.html"><button class="btn btn-default">Détails</button></a></li>
            </ul>
        </div>


      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-12 hr1">
          <hr/>
        </div>
      </div>
    </div>    


    

    
   
    
    
  
    
  <script src="js/jquery.prettyPhoto.js" type="text/javascript" charset="utf-8"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/jquery.slicknav.js"></script>
  <script>
      $(document).ready(function(){
      $(".bhide").click(function(){
        $(".hideObj").slideDown();
        $(this).hide(); //.attr()
        return false;
      });
      $(".bhide2").click(function(){
        $(".container.hideObj2").slideDown();
        $(this).hide(); // .attr()
        return false;
      });
        
      $('.heart').mouseover(function(){
          $(this).find('i').removeClass('fa-heart-o').addClass('fa-heart');
        }).mouseout(function(){
          $(this).find('i').removeClass('fa-heart').addClass('fa-heart-o');
        });
        
        function sdf_FTS(_number,_decimal,_separator)
        {
        var decimal=(typeof(_decimal)!='undefined')?_decimal:2;
        var separator=(typeof(_separator)!='undefined')?_separator:'';
        var r=parseFloat(_number)
        var exp10=Math.pow(10,decimal);
        r=Math.round(r*exp10)/exp10;
        rr=Number(r).toFixed(decimal).toString().split('.');
        b=rr[0].replace(/(\d{1,3}(?=(\d{3})+(?:\.\d|\b)))/g,"\$1"+separator);
        r=(rr[1]?b+'.'+rr[1]:b);

        return r;
}
        
      setTimeout(function(){
          $('#counter').text('0');
          $('#counter1').text('0');
          $('#counter2').text('0');
          setInterval(function(){
            
            var curval=parseInt($('#counter').text());
            var curval1=parseInt($('#counter1').text().replace(' ',''));
            var curval2=parseInt($('#counter2').text());
            if(curval<=707){
              $('#counter').text(curval+1);
            }
            if(curval1<=12280){
              $('#counter1').text(sdf_FTS((curval1+20),0,' '));
            }
            if(curval2<=245){
              $('#counter2').text(curval2+1);
            }
          }, 2);
          
        }, 500);
      });
  </script>
  <script type="text/javascript">
  jQuery(document).ready(function(){
    jQuery('#menu').slicknav();
    
  });
  </script>
  
  <script type="text/javascript">
    $(document).ready(function(){
       
        var $menu = $("#menuF");
            
        $(window).scroll(function(){
            if ( $(this).scrollTop() > 100 && $menu.hasClass("default") ){
                $menu.fadeOut('fast',function(){
                    $(this).removeClass("default")
                           .addClass("fixed transbg")
                           .fadeIn('fast');
                });
            } else if($(this).scrollTop() <= 100 && $menu.hasClass("fixed")) {
                $menu.fadeOut('fast',function(){
                    $(this).removeClass("fixed transbg")
                           .addClass("default")
                           .fadeIn('fast');
                });
            }
        });
  });
    //jQuery
  </script>
  <script>
    /*menu*/
    function calculateScroll() {
      var contentTop      =   [];
      var contentBottom   =   [];
      var winTop      =   $(window).scrollTop();
      var rangeTop    =   200;
      var rangeBottom =   500;
      $('.navmenu').find('a').each(function(){
        contentTop.push( $( $(this).attr('href') ).offset().top );
        contentBottom.push( $( $(this).attr('href') ).offset().top + $( $(this).attr('href') ).height() );
      })
      $.each( contentTop, function(i){
        if ( winTop > contentTop[i] - rangeTop && winTop < contentBottom[i] - rangeBottom ){
          $('.navmenu li')
          .removeClass('active')
          .eq(i).addClass('active');        
        }
      })
    };
    
    $(document).ready(function(){
      calculateScroll();
      $(window).scroll(function(event) {
        calculateScroll();
      });
      $('.navmenu ul li a').click(function() {  
        $('html, body').animate({scrollTop: $(this.hash).offset().top - 80}, 800);
        return false;
      });
    });   
  </script> 
  <script type="text/javascript" charset="utf-8">

    jQuery(document).ready(function(){
      jQuery(".pretty a[rel^='prettyPhoto']").prettyPhoto({animation_speed:'normal',theme:'light_square',slideshow:3000, autoplay_slideshow: true, social_tools: ''});
      
    });
  </script>
  </body>
  
</html>

<style type="text/css">

            body{
                background-color: #f5f5f5;
                margin: 0;
                padding: 0;
                font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
            }

            .page {
                margin: 40px;
            }

            h1{
                margin: 40px 0 60px 0;
            }

            .dark-area {
                background-color: #666;
                padding: 40px;
                margin: 0 -40px 20px -40px;
                clear: both;
            }

            .clearfix:before,.clearfix:after {content: " "; display: table;}
            .clearfix:after {clear: both;}
            .clearfix {*zoom: 1;}

</style>


<p id="notice"><%= notice %></p>

<h1>Listing Classes</h1>

<table>
  <thead>
    <tr>
      <th>Class name</th>
      <th>Class capacity</th>
      <th>Class specific</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @classes.each do |c| %>
      <tr>
        <td><%= c.class_name %></td>
        <td><%= c.class_capacity %></td>
        <td><%= c.class_specific_id %></td>
        <td><%= link_to 'Show', c %></td>
        <td><%= link_to 'Edit', edit_class_path(c) %></td>
        <td><%= link_to 'Destroy', c, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Classe', new_class_path %>
