<p id="notice"><%= notice %></p>

<h1>Listing Professors</h1>

<table>
  <thead>
    <tr>
      <th>Professor grade</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @professors.each do |professor| %>
      <tr>
        <td><%= professor.professor_grade %></td>
        <td><%= professor.user_id %></td>
        <td><%= link_to 'Show', professor %></td>
        <td><%= link_to 'Edit', edit_professor_path(professor) %></td>
        <td><%= link_to 'Destroy', professor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


<table>
  <thead>
    <tr>
      <th>User id</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |professor| %>
      <tr>
        <td><%= professor.id %></td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'New Professor', new_professor_path %>
