<p id="notice"><%= notice %></p>

<p>
  <strong>Professor grade:</strong>
  <%= @professor.professor_grade %>
</p>

<p>
  <strong>User id:</strong>
  <%= @professor.user_id %>
</p>

<%= link_to 'Edit', edit_professor_path(@professor) %> |
<%= link_to 'Back', professors_path %>
