<%= form_for(@subject) do |f| %>
  <% if @subject.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@subject.errors.count, "error") %> prohibited this subject from being saved:</h2>

      <ul>
      <% @subject.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :subject_name %><br>
    <%= f.text_field :subject_name %>
  </div>
  <div class="field">
    <%= f.label :subject_year %><br>
    <%= f.number_field :subject_year %>
  </div>
  <div class="field">
    <%= f.label :subject_hour %><br>
    <%= f.text_field :subject_hour %>
  </div>
  <div class="field">
    <%= f.label :subject_coefficient %><br>
    <%= f.text_field :subject_coefficient %>
  </div>
  <div class="field">
    <%= f.label :module_subject_id %><br>
    <%= f.text_field :module_subject_id %>
  </div>
   <div class="field">
    <%= f.label :meeting_id %><br>
    <%= f.text_field :meeting_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
