<p id="notice"><%= notice %></p>

<p>
  <strong>Subject name:</strong>
  <%= @subject.subject_name %>
</p>

<p>
  <strong>Subject year:</strong>
  <%= @subject.subject_year %>
</p>

<p>
  <strong>Subject hour:</strong>
  <%= @subject.subject_hour %>
</p>

<p>
  <strong>Subject coefficient:</strong>
  <%= @subject.subject_coefficient %>
</p>

<p>
  <strong>Module subject:</strong>
  <%= @subject.module_subject %>
</p>

<p>
  <strong>Meeting :</strong>
  <%= @subject.meeting_id %>
</p>

<%= link_to 'Edit', edit_subject_path(@subject) %> |
<%= link_to 'Back', subjects_path %>
